<ion-menu [content]="content" persistent="true">
  <ion-toolbar>
    <ion-title>{{ "app.name" | translate }}</ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(rootPage)">
        {{ "page.home" | translate }}
      </button>
      <button *ngIf="!sessionService.get()" ion-item (click)="openPage(loginPage)">
        {{ "page.login" | translate }}
      </button>
      <button *ngIf="sessionService.get()" ion-item (click)="logout()">
        {{ "session.logout" | translate }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
