<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      <ion-title>{{ "page.home" | translate }}</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>{{"app.welcome" | translate}} <strong *ngIf="session">{{session.user.name}}</strong></h1>

  <ion-item>
    {{"form.syncronized" | translate}}
    <ion-badge item-right>4</ion-badge>
  </ion-item>

  <ion-item>
    {{"survey.saved" | translate}}
    <ion-badge item-right>10</ion-badge>
  </ion-item>

  <ion-item>
    {{"survey.finished" | translate}}
    <ion-badge item-right>2</ion-badge>
  </ion-item>

</ion-content>
