<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-title>{{ "page.login" | translate }}</ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form #loginCreds="ngForm" (ngSubmit)="login(loginCreds.value)">

    <ion-item>
      <ion-label>{{"session.username" | translate}}</ion-label>
      <ion-input type="text" ngControl="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{"session.password" | translate}}</ion-label>
      <ion-input type="password" ngControl="password"></ion-input>
    </ion-item>

    <div padding>
      <button block type="submit">{{"session.login" | translate}}</button>
    </div>

  </form>

</ion-content>
